body{
    font-family: 'Albert Sans', sans-serif;
}
.master-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mainpage-container{
    display: flex;
    flex-direction: column;
    gap: 10px
}